footer{
    background-color: #000;
    padding: 1rem;
    color: #fff;
    margin-top: -0.4rem;
}
.container{
    padding: 2rem !important;
}
span{
    color: #ff0000;
}
.footer-rule{
    border-top: 0.1rem solid #ff0000;
    width: 75%;
}
.footer-items{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
footer a{
    text-decoration: none !important;
    color: #fff !important;
}
footer a:hover{
    text-decoration: none !important;
    color: #ff0000 !important;
}
.footer-credits{
    height: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: rgba(128, 128, 128, 0.1);
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}